.task {
  font-size: 12px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.815);
  width: 200px;
  position: absolute;
  top: 20px;
  left: 100px;
  text-align: start;
  border-left: 2px solid #6E9ECF;
  background-color: #E2ECF5;
  border-top: 1px solid rgba(192, 192, 192, 0.505);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}